body{
    background-color: #FFFFFF;
    font-family: helvetica;
    }
header{
    background-color: #1F2937;
    display: flex;
    padding: 20px 100px;
    }
#headerLogo, ul#navBar{
    flex-grow: 1;
    }
#headerLogo{
    font-weight: extra-bold;
    font-size: 24px;
    text-align: left;
    color: #F9FAF8;
    }
ul#navBar{
    justify-content: flex-end;
    gap: 20px;
    list-style-type: none;
    display: flex;
    }
ul#navBar li a{
    color: #E5E7EB; 
    text-decoration: none;
    }
#container{
        }
#quote{
    background-color: #E5E7EB;
    }
footer{
    background-color: #1F2937;
    }