body{
    background-color: #FFFFFF;
    font-family: 'Roboto';
    }
header{
    background-color: #1F2937;
}
#container{
        }
#quote{
    background-color: #E5E7EB;
    }
footer{
    background-color: #1F2937;
    }