body{
    background-color: #FFFFFF;
    font-family: 'Roboto';
    }
header{
    background-color: #1F2937;
    display: flex;
    }
#headerLogo, ul#navBar{
    flex-grow: 1;
    }
#headerLogo{
    font-weight: bold;
    }
ul#navBar{
    justify-content: flex-end;
    gap: 20px;
    }
#container{
        }
#quote{
    background-color: #E5E7EB;
    }
footer{
    background-color: #1F2937;
    }